.header {
	overflow: visible;
}
.article img {
	display:block;
	margin: auto;
	padding: 32px 0 0 0;
}
.header .stretch {
    padding: 0 0 0 20px !important;
}
.ds-dropdown-menu{
	font-size: var(--font-s) !important;
	top: 48px !important;
	box-shadow: none !important;
	min-width: 0 !important;
	max-width: 100% !important;
	width: 100% !important;
}
@media only screen and (min-width: 640px) {
    .ds-dropdown-menu{
		top: 51px !important;
	}
}	
.algolia-autocomplete {
    width: 100%;
}
@media only screen and (min-width: 640px) {
    .algolia-autocomplete {
    	width: 428px;
	}
}	

.algolia-autocomplete .ds-dropdown-menu:before {
	display: none !important;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
	border-radius: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before, .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before,
.algolia-docsearch-suggestion--subcategory-column {
	display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
	width: 100% !important;
	float: none !important;
}
.button-reset {
	display: none;
}
.external-link span {
	margin-right: 4px;
}

.external-link svg {
	top: 1px;
    position: relative;
}

.tabs {
	display: flex;
}

.tab {
	width: 62px;
	padding: 4px;
	text-align: center;
	background-color: white;
	border: 1px solid var(--etna-stone-black);
}

.tab:first-child {
	border-radius: 16px 0 0 16px;
}

.tab:last-child {
	border-radius: 0 16px 16px 0;
}

.tab--selected {
	background-color: var(--etna-stone-black);
}

.tab a {
	color: var(--etna-stone-black) !important;
	font-weight: var(--w-bold);
	text-decoration: none;
	border: none;
}

.tab--selected a {
	color: white !important;
}

.actions-right {
	display: flex;
	justify-content: flex-end;
}

.article h3 {
    font-size: var(--font-m);
    font-weight: var(--w-semibold);
    line-height: 1.5em;
}

.article h4 {
    font-size: var(--font-s);
    font-weight: var(--w-semibold);
    line-height: 1.5em;
    font-style: normal;
}

.article h5 {
    font-size: var(--font-xs);
    font-weight: var(--w-medium);
    line-height: 1.5em;
    text-transform: uppercase;
}

.drawer .section {
	color: var(--nobel-grey);
}

/* Submenu styles */
.drawer .toc li.anchor a.active {
    font-weight: 700;
    border-left: 2px solid var(--wethod-blue);
    color: var(--wethod-blue);
}
