:root {
    /* Font sizes */
    --font-xs: 12px;
    --font-s: 14px;
    --font-m: 16px;
    --font-l: 20px;
    --font-xl: 24px;

    /* Font weights */
    --w-normal: 400;
    --w-medium: 500;
    --w-semibold: 600;
    --w-bold: 700;

    /* Colors */
    --brand: #2762E5;
    --brand-medium: #A9C6FD;
    --brand-light: #E3EDFF;
    --onyx: #1A1A1A;
    --nobel-gray: #595959;
} 